{% extends 'store/base.html' %}
{% load static %}

{% block content %}
    <div class=" mt-5 row">
		{% for product in products %}
		<div class="col-lg-4">
            <img class="thumbnail" src="{{ product.imagesURL }}">
			<div class="box-element product">
				<h6 class="text-center"><strong>{{ product.name }}</strong></h6>
				<hr>
				<button class="btn btn-secondary">Add to cart</button>
				<a href="#" class="btn btn-outline-success">View</a>
				<h4 style="display:inline-block; float:right"> <strong>{{ product.price }}</strong></h4>

			</div>
		</div>
		{% endfor %}
		</div>


    </div>
{% endblock content %}